@font-face {
    font-family: "Acumin Pro";
    src: url('../fonts/FontsFree-Net-Acumin-Pro-Book.ttf');
}

@font-face {
    font-family: "TitlingGothicFB Cond";
    src: url('../fonts/TitlingGothicFB_Cond_Bold.otf');
}

/* -------------------------------unviversal selector---------------------------------------- */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none !important;
}

/* ---------------------------------------------root------------------------------------------- */
:root {

    --ff-acumin: Acumin Pro;
    --ff-cond: TitlingGothicFB Cond;

    --fw-3: 300;
    --fw-4: 400;
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
    --fw-8: 800;


    --black-color: #000000;
    --white-color: #ffff;
    --primary-color: #FA6A00;
    --black-300: #636363;
    --light-blue-color: #1A2336;



    --fs-10: 10px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-21: 21px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-36: 36px;
    --fs-40: 40px;
    --fs-44: 44px;
    --fs-48: 48px;
    --fs-50: 50px;
    --fs-52: 52px;
    --fs-60: 60px;
    --fs-61: 61px;
    --fs-64: 64px;
    --fs-70: 70px;
    --fs-72: 72px;
    --fs-80: 80px;
    --fs-96: 96px;
    --fs-157: 157px;


    --lh-16: 16px;
    --lh-19: 19px;
    --lh-21: 21px;
    --lh-20: 20px;
    --lh-23: 23px;
    --lh-24: 24px;
    --lh-26: 26px;
    --lh-27: 27px;
    --lh-28: 28px;
    --lh-29: 29px;
    --lh-30: 30px;
    --lh-32: 32px;
    --lh-35: 35px;
    --lh-37: 37px;
    --lh-39: 39px;
    --lh-40: 40px;
    --lh-41: 41px;
    --lh-42: 42px;
    --lh-45: 45px;
    --lh-49: 49px;
    --lh-54: 54px;
    --lh-56: 56px;
    --lh-61: 61px;
    --lh-64: 64px;
    --lh-68: 68px;
    --lh-72: 72px;
    --lh-75: 75px;
    --lh-83: 83px;
    --lh-86: 86px;
    --lh-100: 100px;
    --lh-115: 115px;
    --lh-188: 188px;
}

.ff-cond {
    font-family: var(--ff-cond);
}

.ff-acumin {
    font-family: var(--ff-acumin);
}

.lh-26 {
    line-height: var(--lh-26);
}

.lh-23 {
    line-height: var(--lh-23);
}

.lh-45 {
    line-height: var(--lh-45);
}

.lh-42 {
    line-height: var(--lh-42);
}

.lh-30 {
    line-height: var(--lh-30);
}

.lh-35 {
    line-height: var(--lh-35)
}

.lh-16 {
    line-height: var(--lh-16);
}

.lh-61 {
    line-height: var(--lh-61);
}

.lh-40 {
    line-height: var(--lh-40);

}

.lh-68 {
    line-height: var(--lh-68);
}

.lh-37 {
    line-height: var(--lh-37);
}

.lh-41 {
    line-height: var(--lh-41);
}

.lh-19 {
    line-height: var(--lh-19);
}

.lh-24 {
    line-height: var(--lh-24);
}

.lh-29 {
    line-height: var(--lh-29);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-115 {
    line-height: var(--lh-115);
}

.lh-21 {
    line-height: var(--lh-21);
}

.lh-83 {
    line-height: var(--lh-83);
}

.lh-54 {
    line-height: var(--lh-54);
}

.lh-56 {
    line-height: var(--lh-56);
}


.lh-32 {
    line-height: var(--lh-32);
}

.lh-86 {
    line-height: var(--lh-86);
}

.lh-72 {
    line-height: var(--lh-72);
}

.lh-75 {
    line-height: var(--lh-75);
}

.lh-39 {
    line-height: var(--lh-39);
}

.lh-27 {
    line-height: var(--lh-27);
}

.lh-64 {
    line-height: var(--lh-64);
}

.lh-28 {
    line-height: var(--lh-28);
}

.lh-49 {
    line-height: var(--lh-49);
}

.lh-188 {
    line-height: var(--lh-188);
}

.lh-100 {
    line-height: var(--lh-100);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-15 {
    font-size: var(--fs-15);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-32 {
    font-size: var(--fs-32);
}

.fs-96 {
    font-size: var(--fs-96);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-50 {
    font-size: var(--fs-50);
}

.fs-44 {
    font-size: var(--fs-44);
}

.fs-64 {
    font-size: var(--fs-64);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-61 {
    font-size: var(--fs-61);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-10 {
    font-size: var(--fs-10);
}

.fs-52 {
    font-size: var(--fs-52);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-72 {
    font-size: var(--fs-72);
}

.fs-157 {
    font-size: var(--fs-157);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-80 {
    font-size: var(--fs-80);
}

.fs-21 {
    font-size: var(--fs-21);
}

.fs-70 {
    font-size: var(--fs-70);
}

.white {
    color: var(--white-color);
}

.curser {
    cursor: pointer;
}

.black-300 {
    color: var(--black-300);
}

/*=========== herader moving ling ==========================*/

.gap_10 {
    gap: 10px;
}

.main_container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.heaser-bg-img {
    background-image: url("../img/png/main_sec_bg_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav_links {
    transition: all 200ms linear;
}

.nav_links:hover {
    color: var(--primary-color) !important;
    -webkit-text-stroke: thin;
}

.bttn {
    padding: 20px;
    border-radius: 84px;
    background-color: var(--primary-color);
    border: none;
    box-shadow: 0px 0px 26.2px 0px var(--primary-color);
    transition: all 300ms linear;
}

.bttn:hover {
    box-shadow: 0px 0px 26.2px 0px var(--primary-color) inset;
    background-color: var(--white-color);
    color: var(--primary-color) !important;
}

.container_1230 {
    max-width: 1230px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.nav_box {
    background-color: var(--white-color);
    border-radius: 16px;
}

.max-width-730 {
    max-width: 730px;
}

.max-w-430 {
    max-width: 430px;
}

.mt-40 {
    margin-top: 40px;
}

.max-544 {
    max-width: 544px;
}

.hero_sec_tick_card {
    background: #E3FAFF0D;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 51px;
    padding-right: 51px;
    border-radius: 16px;
}

/*====================== car cleanig ========================= */
.car_cleaning_bg_img {
    background-image: url("../img/png/car_cleaning_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.max-w-351 {
    max-width: 351px;
}

.mt_100 {
    margin-top: 100px;
}

.pt_80 {
    padding-top: 80px;
}



/*================== ice blasting ======================*/
.bg-orange {
    background-color: var(--primary-color);
}

.pt_20 {
    padding-top: 20px;
}

.pt_237 {
    padding-top: 237px;
}

/*================== your car ====================*/
.pb_121 {
    padding-bottom: 121px;
}

/*==================== behind the secne =====================*/
.max-w-680 {
    max-width: 680px;
}

.behind-the-scene-bg-color {
    background-color: var(--light-blue-color);
}

.max-w-592 {
    max-width: 592px;
}

.pt_40 {
    padding-top: 40px;
}

.mt_20 {
    margin-top: 20px;
}

/*===================== meet my team  =======================*/
.team_layer {
    position: absolute;
    right: 0;
    transform: translate(-130px, -130px);
}

/*===================== still unsucer ========================*/
.acc_itm {
    border: 1px solid #101A2E33;
    border-radius: 14px;
    margin-top: 20px;
    background: #F3F3F4;
}

.hidden_txt {
    display: none;
    padding: 22px 30px 22px 30px;
}

.minus_icon {
    display: none;
    color: white;
}

.click_part {
    padding: 22px 30px 22px 30px;
    cursor: pointer;

}

.input_sec {
    border: 1px solid #101A2E33;
    background: #F3F3F4;
    border-radius: 14px;
    padding: 16px 30px 35px 30px;
}

.textArea {
    border: 1px solid #101A2E33;
    background: var(--white-color);
    border-radius: 16px;
    width: 100%;
    resize: none;
    padding-top: 16px;
    padding-left: 16px;
    outline: none;
}

/*========================= back to prim ==================*/
.container_966 {
    max-width: 966px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

/*============== latest news =======================*/
.new_card {
    padding: 10px 10px 24px 10px;
    box-shadow: 0px 0px 12px 0px #0000001A;
    background: var(--white-color);
    border-radius: 16px;
    transition: all 350ms linear;
}

.new_card:hover {
    box-shadow: 0px 0px 26.2px 0px var(--primary-color);
}

/*================ animation =====================*/


/*=============== media screen  ========================*/
@media (max-width:992px) {
    .menuBar {
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        background: var(--black-color);
        z-index: 30;
        transition: all 300ms linear;
    }

    .menu-links {
        flex-direction: column;
        justify-content: center;
    }

    .menuIcon {
        width: 42px;
        height: 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 31;
        align-items: end;
    }

    .menuIcon span {
        width: 100%;
        height: 5px;
        background-color: var(--white-color);
        z-index: 4;
    }

    .show {
        left: 0;
    }


}

@media (min-width:992px) {
    .ice-blast-right {
        position: absolute;
        top: 20%;
        right: 0;
    }

    .ice-blast-left {
        position: absolute;
        top: 37%;
        left: 0;
    }


}